// Import required modules
@use "sass:color";

// Import Component-Specific SCSS
@use "../components/header";
@use "../components/footer";
@use "../components/userProfile";
@use "../components/sidebar";




@use "../pages/admin/admDashboard";
@use "../auth/login";


@use "../pages/finance/financeDashboard";
@use "../pages/finance/financeEmpFinancials";
@use "../pages/finance/financeInvoice";
@use "../pages/finance/financePayroll";
@use "../pages/finance/financeReports";
@use "../pages/finance/financeSettings";
@use "../pages/finance/financeSidebar";



// Theme Variables using CSS Variables
:root {
    --sidebar-bg: #2c3e50;
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --bg-color: #f8f9fa;
    --text-color: #000;
    --card-bg: white;
    --border-color: #ccc;
    --box-shadow: rgba(0, 0, 0, 0.1);
    --text-light: #ecf0f1;
}

[data-theme="dark"] {
    --sidebar-bg: #1e1e1e;
    --primary-color: #1e90ff;
    --secondary-color: #444;
    --bg-color: #121212;
    --text-color: #fff;
    --card-bg: #1e1e1e;
    --border-color: #333;
    --box-shadow: rgba(255, 255, 255, 0.1);
    --text-dark: #2c3e50;
}

// General Styles
body {
    font-family: Arial, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    transition: background 0.3s ease, color 0.3s ease;
}

// Responsive Styles